/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$BG1: rgb(55, 137, 185);
$BG2: rgb(140, 32, 30);
$HEADFOOT: rgb(255, 255, 255);

// NFL team colours from http://boards.sportslogos.net/topic/82401-nfl-team-color-codes/
$Ari: #9B2743;
$Ari2: #1E1E1E;
$Atl: #A6192E;
$Atl2: #1E1E1E;
$Bal: #24135F;
$Bal2: #D0B240;
$Buf: #003087;
$Buf2: #C8102E;
$Car: #0085CA;
$Car2: #101820;
$Chi: #081F2C;
$Chi2: #DC4405;
$Cin: #FC4C02;
$Cin2: #1E1E1E;
$Cle: #FC4C02;
$Cle2: #413322;
$Dal: #0C2340;
$Dal2: #858078;
$Den: #FC4C02;
$Den2: #0C2340;
$Det: #00558C;
$Det2: #8A8D8F;
$GB: #183028;
$GB2: #FFB81C;
$Hou: #081F2C;
$Hou2: #A6192E;
$Ind: #003A70;
$Ind2: #FFFFFF;
$Jac: #006272;
$Jac2: #1E1E1E;
$KC: #A6192E;
$KC2: #FFB81C;
$Mia: #005F61;
$Mia2: #FF642A;
$Min: #330072;
$Min2: #FFB81C;
$NE: #0C2340;
$NE2: #C8102E;
$NO: #85714D;
$NO2: #1E1E1E;
$NYG: #001E62;
$NYG2: #A6192E;
$NYJ: #0C371D;
$NYJ2: #FFFFFF;
$Oak: #7D858A;
$Oak2: #1E1E1E;
$Phi: #004851;
$Phi2: #54585A;
$Pit: #1E1E1E;
$Pit2: #FFB81C;
$StL: #0C2340;
$StL2: #85714D;
$SD: #0072CE;
$SD2: #FFB81C;
$SF: #BB2B4B;
$SF2: #85714D;
$Sea: #213D5A;
$Sea2: #43B02A;
$TB: #A6192E;
$TB2: #6F6B66;
$Ten: #418FDE;
$Ten2: #0C2340;
$Was: #782F40;
$Was2: #FFB81C;

@mixin team($teamColor1) {
	width: 100px;
	height: 100px;
	background-color: $teamColor1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: rgb(255, 255, 255);
	float: left;
	transition: 2s;
	-webkit-transition: 2s;
	opacity: 1;
	
}

@mixin subheader {
	font-weight: bold;
	font-size: 110%;
}

@mixin rounded {
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

@mixin statstub($pos) {
	float: $pos;
	font-size: 90%;
	// font-weight: bold;
	color: rgb(0, 0, 0);
}

.Det {
	@include team($Det);
	.rightblock {
		background-color: $Det2;
	}
}

.Bal {
	@include team($Bal);
	.rightblock {
		background-color: $Bal2;
		
	}

}

.Cin {
	@include team($Cin);
	.rightblock {
		background-color: $Cin2;
		
	}

}

.Pit {
	@include team($Pit);
	.rightblock {
		background-color: $Pit2;
		
	}
}

.GB {
	@include team($GB);
	.rightblock {
		background-color: $GB2;
		
	}

}

.Dal {
	@include team($Dal);
	.rightblock {
		background-color: $Dal2;
		
	}

}

.NO {
	@include team($NO);
	.rightblock {
		background-color: $NO2;
		
	}

}

.StL {
	@include team($StL);
	.rightblock {
		background-color: $StL2;
		
	}

}

.Ari {
	@include team($Ari);
	.rightblock {
		background-color: $Ari2;
		
	}

}

.Ten {
	@include team($Ten);
	.rightblock {
		background-color: $Ten2;
		
	}

}

.KC {
	@include team($KC);
	.rightblock {
		background-color: $KC2;
		
	}

}

.Oak {
	@include team($Oak);
	.rightblock {
		background-color: $Oak2;
		
	}

}

.NYJ {
	@include team($NYJ);
	.rightblock {
		background-color: $NYJ2;
		
	}

}

.Car {
	.rightblock {
		background-color: $Car2;
		
	}
	@include team($Car);

}

.Hou {
	@include team($Hou);
	.rightblock {
		background-color: $Hou2;
		
	}

}

.Ind {
	@include team($Ind);
	.rightblock {
		background-color: $Ind2;
		
	}

}

.SF {
	@include team($SF);
	.rightblock {
		background-color: $SF2;
		
	}

}

.TB {
	@include team($TB);
	.rightblock {
		background-color: $TB2;
		
	}

}

.NE {
	@include team($NE);
	.rightblock {
		background-color: $NE2;
		
	}

}

.Mia {
	@include team($Mia);
	.rightblock {
		background-color: $Mia2;
		
	}

}

.Chi {
	@include team($Chi);
	.rightblock {
		background-color: $Chi2;
		
	}

}

.Cle {
	@include team($Cle);
	.rightblock {
		background-color: $Cle2;
		
	}

}

.Buf {
	@include team($Buf);
	.rightblock {
		background-color: $Buf2;

	}

}

.Jac {
	@include team($Jac);
	.rightblock {
		background-color: $Jac2;
		
	}

}

.Phi {
	@include team($Phi);
	.rightblock {
		background-color: $Phi2;
		
	}

}

.Min {
	@include team($Min);
	.rightblock {
		background-color: $Min2;
		
	}

}

.Was {
	@include team($Was);
	.rightblock {
		background-color: $Was2;
		
	}

}

.Atl {
	@include team($Atl);
	.rightblock {
		background-color: $Atl2;
		
	}

}

.Sea {
	@include team($Sea);
	.rightblock {
		background-color: $Sea2;
		
	}

}

.NYG {
	@include team($NYG);
	.rightblock {
		background-color: $NYG2;
		
	}

}

.SD {
	@include team($SD);
	.rightblock {
		background-color: $SD2;
		
	}

}

.Den {
	@include team($Den);
	.rightblock {
		background-color: $Den2;
		
	}

}

.clearfix {
	clear: both;
}

.contentWell {
	float: left;
	min-height: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.headLine {
	background-color: $BG1;
	padding: 40px 110px;
	width: 100%;
	font-size: 60px;
	color: $HEADFOOT;
}

.kingkong {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 200px;
}

.resultsBox {
	float: left;
	margin-left: 80px;
	color: rgb(255, 255, 255);
	min-width: 300px;

	img {
		max-width: 200px;
	}
}


@media screen and (min-width: 1000px) {
	.resultsBox {
		float: left;
		margin-left: 20px;
		color: rgb(255, 255, 255);
		width: 100%;

		img {
			margin-top: 100px;
			margin-left: 237px;
			float: left;
			max-width: 200px;
			opacity: 0.3;
		}
	}

	.teambox {
		float: left;
		margin-right: 20px;
		padding: 0;
		width: 322px;
		min-height: 452px;
		max-height: 452px;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		@include rounded;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

		.colorBox {
			width: 38px;
			height: 452px;
			float: right;
			border-left: 1px solid rgb(200, 200, 200);

			.rightblock {
				height: 100%;
				width: 10px;
				float: right;
			}

			.box1 {
				height: 100%;
				width: 28px;
				float: right;
			}
		}
	}

	.sidebar {
		max-width: 201px;
		height: 557px;
		float: left;
		background-color: rgb(240, 240, 240);
		color: rgb(0, 0, 0);
	}

	.rightFrame {
		width: 704px;
		height: 557px;
		float: left;
		background-color: rgb(235, 235, 235);
		color: rgb(0, 0, 0);
		border-right: 1px solid rgb(200, 200, 200);

		.topbar {
			width: 704px;
			float: left;
			margin-bottom: 20px;
			border-bottom: 1px solid rgb(200, 200, 200);
			background-color: rgb(240, 240, 240);

			.barHead {
				float: left;
				color: rgb(200, 200, 200);
				font-weight: bold;
				text-align: center;
				padding: 10px 0;
				min-width: 97px;
			}

			.stubDir {
				float: left;
			}

			.stub {
				float: left;
				padding: 2px 4px 2px 4px;
				vertical-align: middle;
				font-size: 85%;
				font-weight: bold;
				min-width: 70px;
				padding: 6px 9px;
				text-align: center;
			}

			.stub:hover {
				background-color: rgb(190, 190, 190);
				color: rgb(255, 255, 255);
				cursor: pointer;
			}
		}
	}



	.weekColumn {
		max-width: 100px;
		min-width: 100px;
		float: left;
		border-right: 1px solid rgb(200, 200, 200);
		text-align: center;
		background-color: inherit;

		.columnHead {
			float: left;
			color: rgb(200, 200, 200);
			font-weight: bold;
			min-width: 97px;
			padding: 22px 0;
		}

		.weekPicker {
			max-width: 100px;
			min-width: 100px;
			display: inline-block;
			padding: 4px 0;
			border-top: 1px solid rgb(230, 230, 230);
			text-align: center;
			.weekIndex {
				font-weight: bold;
				display: inline-block;
			}
		}

		.weekPicker:hover {
			background-color: rgb(190, 190, 190);
			color: rgb(255, 255, 255);
		}

		.picked {
			background-color: rgb(190, 190, 190);
			color: rgb(255, 255, 255);
		}

		
	}

	.leftblock {
		margin-left: 10px;
		min-width: 273px;
		float: left;

		.statsbox {
			float: left;
			background-color: rgb(255, 255, 255);
			min-width: 242px;
			min-height: 280px;
			border-left: 1px solid rgb(221, 221, 221);
			padding-right: 8px;
		}

	}

	.kingkong {
		margin-left: 40px;
		margin-bottom: 40px;

		img {
			width: 200px;
		}
	}

	

	.score {
		font-size: 300%;
		font-weight: bold;
		margin-bottom: 16px;
		margin-top: 16px;
		float: left;
	}
}

.city {
	@include subheader;
}

.name {
	@include subheader;
	margin-bottom: 4px;
}

.record {
	margin-bottom: 16px;
}



.leftblock .nav .active .navlink {
	color: rgb(0, 0, 0);
}

.navlink:hover {
	cursor: pointer;
}

.statstype {
	@include statstub(left);
}

.statsdata {
	@include statstub(right);
	margin-bottom: 8px;
}

.statsOff {
	margin: 12px;
	width: 97%;
}

.statsDef {
	margin: 12px;
	width: 97%;
}

#myTab {
	margin-bottom: 0;
}

.leftblock .nav .navlink {
	font-size: 90%;
	font-weight: bold;
	color: rgb(200, 200, 200);
}

.footer {
	background-color: $BG2;
	display: inline-block;
	// @include rounded;
	// float: left;
	padding: 30px 0;
	padding-left: 190px;
	width: 100%;

	a {
		display: inline-block;
		vertical-align: middle;
		line-height: 30px;
		color: $HEADFOOT;
		img {
			height: 30px;
			margin-left: 10px;
			@include rounded;
			display: inline-block;
		}
	}

	div {
		color: rgb(0, 0, 0);
		margin-right: 15px;
		margin-left: 15px;
		display: inline-block;
		vertical-align: middle;
		line-height: 30px;
	}

}


.fadeOut {
	display: none;
}

.flicker {
	-webkit-animation: fade 0.5s;
    -moz-animation: fade 0.5s;
    -ms-animation: fade 0.5s;
    -o-animation: fade 0.5s;
    animation: fade 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}


@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-moz-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-ms-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}


