/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* ~~~~~~~~~~~~~~~ */
/*  LANDING PAGE   */
/* ~~~~~~~~~~~~~~~ */

.fakeLink {
	color: #0088cc;
}

.fakeLink:hover {
	color: rgb(0, 96, 184);
	cursor: pointer;
	text-decoration: underline;
}

#pseudoBody {
	font-family: 'Baskerville' Times Serif;
	background-color: #FDFCE8;
	width: 100%;
	height: 100%;
	font-size: 26px;
}

.titleBox {
	margin-top: 200px;
	margin-left: 150px;
	margin-right: 100px;

	.myName {
		float: right;
		margin-bottom: 10px;
		clear: both;
	}
}

.projectsBox {

	margin-top: 80px;
	margin-left: 150px;
	margin-right: 100px;

	.blocked {
		margin-bottom: 60px;
	}

	.dot {
		float: left;
		background-color: #F70000;
		border-radius:5px;
		width: 10px;
		height: 10px;
	}

	.listHead {
		float: left;
		margin-left: 10px;
	}

	.listHead:hover {
		cursor: pointer;
	}
}

.backBox {
	margin-top: 60px;
	margin-left: 150px;
	margin-right: 100px;
	max-width: 300px;
	float: left;

	.blocked {
		margin-bottom: 60px;
	}

	.dot {
		float: left;
		background-color: #F70000;
		border-radius:5px;
		width: 10px;
		height: 10px;
	}

	.listHead {
		float: left;
		margin-left: 10px;
	}

	.listHead:hover {
		cursor: pointer;
	}
}

.showcase {
	margin-left: 150px;
	margin-top: 80px;
	margin-right: 100px;
	float: left;
	max-width: 760px;

	.floatingText {
		font-size: 18px;
		float: right;
		width: 600px;

	}

}

.image1 {
	// background-image: url(/static/images/mainLogo.png);
}

.image2 {
	// background-image: url(/static/images/mainLogo.png);
}

.image3 {
	// background-image: url(/static/images/mainLogo.png);
}

.image4 {
	// background-image: url(/static/images/mainLogo.png);
}

/* END LANDING PAGE */

/* ~~~~~~~~~~~~~~~ */
/* WHATS THE SCORE */
/* ~~~~~~~~~~~~~~~ */


$BG1: rgb(55, 137, 185);
$BG2: rgb(140, 32, 30);
$HEADFOOT: rgb(255, 255, 255);

// NFL team colours from http://boards.sportslogos.net/topic/82401-nfl-team-color-codes/
$Ari: #9B2743;
$Ari2: #1E1E1E;
$Atl: #A6192E;
$Atl2: #1E1E1E;
$Bal: #24135F;
$Bal2: #D0B240;
$Buf: #003087;
$Buf2: #C8102E;
$Car: #0085CA;
$Car2: #101820;
$Chi: #081F2C;
$Chi2: #DC4405;
$Cin: #FC4C02;
$Cin2: #1E1E1E;
$Cle: #FC4C02;
$Cle2: #413322;
$Dal: #0C2340;
$Dal2: #858078;
$Den: #FC4C02;
$Den2: #0C2340;
$Det: #00558C;
$Det2: #8A8D8F;
$GB: #183028;
$GB2: #FFB81C;
$Hou: #081F2C;
$Hou2: #A6192E;
$Ind: #003A70;
$Ind2: #FFFFFF;
$Jac: #006272;
$Jac2: #1E1E1E;
$KC: #A6192E;
$KC2: #FFB81C;
$Mia: #005F61;
$Mia2: #FF642A;
$Min: #330072;
$Min2: #FFB81C;
$NE: #0C2340;
$NE2: #C8102E;
$NO: #85714D;
$NO2: #1E1E1E;
$NYG: #001E62;
$NYG2: #A6192E;
$NYJ: #0C371D;
$NYJ2: #FFFFFF;
$Oak: #7D858A;
$Oak2: #1E1E1E;
$Phi: #004851;
$Phi2: #54585A;
$Pit: #1E1E1E;
$Pit2: #FFB81C;
$StL: #0C2340;
$StL2: #85714D;
$SD: #0072CE;
$SD2: #FFB81C;
$SF: #BB2B4B;
$SF2: #85714D;
$Sea: #213D5A;
$Sea2: #43B02A;
$TB: #A6192E;
$TB2: #6F6B66;
$Ten: #418FDE;
$Ten2: #0C2340;
$Was: #782F40;
$Was2: #FFB81C;

body .contentWell .rightFrame .highlight {
	color: rgb(255, 0, 0);
	font-weight: bold;
	font-size: 200%;
}

@mixin team($teamColor1) {
	width: 100px;
	height: 100px;
	background-color: $teamColor1;
	// border-radius: 4px;
	// -webkit-border-radius: 4px;
	color: rgb(255, 255, 255);
	float: left;
	transition: 2s;
	-webkit-transition: 2s;
	opacity: 1;
	
}

@mixin subheader {
	font-weight: bold;
	font-size: 110%;
}

@mixin rounded {
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

@mixin statstub($pos) {
	float: $pos;
	font-size: 90%;
	// font-weight: bold;
	color: rgb(0, 0, 0);
}

.Det {
	@include team($Det);
	.rightblock {
		background-color: $Det2;
	}
}

.Bal {
	@include team($Bal);
	.rightblock {
		background-color: $Bal2;
		
	}

}

.Cin {
	@include team($Cin);
	.rightblock {
		background-color: $Cin2;
		
	}

}

.Pit {
	@include team($Pit);
	.rightblock {
		background-color: $Pit2;
		
	}
}

.GB {
	@include team($GB);
	.rightblock {
		background-color: $GB2;
		
	}

}

.Dal {
	@include team($Dal);
	.rightblock {
		background-color: $Dal2;
		
	}

}

.NO {
	@include team($NO);
	.rightblock {
		background-color: $NO2;
		
	}

}

.StL {
	@include team($StL);
	.rightblock {
		background-color: $StL2;
		
	}

}

.Ari {
	@include team($Ari);
	.rightblock {
		background-color: $Ari2;
		
	}

}

.Ten {
	@include team($Ten);
	.rightblock {
		background-color: $Ten2;
		
	}

}

.KC {
	@include team($KC);
	.rightblock {
		background-color: $KC2;
		
	}

}

.Oak {
	@include team($Oak);
	.rightblock {
		background-color: $Oak2;
		
	}

}

.NYJ {
	@include team($NYJ);
	.rightblock {
		background-color: $NYJ2;
		
	}

}

.Car {
	.rightblock {
		background-color: $Car2;
		
	}
	@include team($Car);

}

.Hou {
	@include team($Hou);
	.rightblock {
		background-color: $Hou2;
		
	}

}

.Ind {
	@include team($Ind);
	.rightblock {
		background-color: $Ind2;
		
	}

}

.SF {
	@include team($SF);
	.rightblock {
		background-color: $SF2;
		
	}

}

.TB {
	@include team($TB);
	.rightblock {
		background-color: $TB2;
		
	}

}

.NE {
	@include team($NE);
	.rightblock {
		background-color: $NE2;
		
	}

}

.Mia {
	@include team($Mia);
	.rightblock {
		background-color: $Mia2;
		
	}

}

.Chi {
	@include team($Chi);
	.rightblock {
		background-color: $Chi2;
		
	}

}

.Cle {
	@include team($Cle);
	.rightblock {
		background-color: $Cle2;
		
	}

}

.Buf {
	@include team($Buf);
	.rightblock {
		background-color: $Buf2;

	}

}

.Jac {
	@include team($Jac);
	.rightblock {
		background-color: $Jac2;
		
	}

}

.Phi {
	@include team($Phi);
	.rightblock {
		background-color: $Phi2;
		
	}

}

.Min {
	@include team($Min);
	.rightblock {
		background-color: $Min2;
		
	}

}

.Was {
	@include team($Was);
	.rightblock {
		background-color: $Was2;
		
	}

}

.Atl {
	@include team($Atl);
	.rightblock {
		background-color: $Atl2;
		
	}

}

.Sea {
	@include team($Sea);
	.rightblock {
		background-color: $Sea2;
		
	}

}

.NYG {
	@include team($NYG);
	.rightblock {
		background-color: $NYG2;
		
	}

}

.SD {
	@include team($SD);
	.rightblock {
		background-color: $SD2;
		
	}

}

.Den {
	@include team($Den);
	.rightblock {
		background-color: $Den2;
		
	}

}

.clearfix {
	max-width: 200px;
	clear: both;
}

.contentWell {
	float: left;
	min-height: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	min-width: 805px;
	max-width: 805px;
	font-family: 'Helvetica' Helvetica Sans-serif;
	font-size: 14px;
}

.headLine {
	background-color: $BG1;
	padding: 40px 40px;
	max-width: 725px;
	min-width: 725px;
	font-size: 60px;
	color: $HEADFOOT;
}

.kingkong {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 200px;
}

.resultsBox {
	float: left;
	margin-left: 80px;
	color: rgb(255, 255, 255);
	min-width: 300px;

	img {
		max-width: 200px;
	}
}


@media screen and (min-width: 1000px) {
	.resultsBox {
		float: left;
		margin-left: 20px;
		color: rgb(255, 255, 255);
		width: 100%;

		img {
			margin-top: 100px;
			margin-left: 237px;
			float: left;
			max-width: 200px;
			opacity: 0.3;
		}
	}

	.unit {
		float: left;
		display: inline-block;
		vertical-align: top;

		.cycleBox {
			float: left;
			min-height: 44px;
			height: 44px;
			border-top: 1px solid rgba(0, 0, 0, 0.3);


			button {
				min-height: 44px;
				font-size: 20px;
				height: 44px;
				border: 0;
				width: 704px;
			}

		}

	}

	.sidebar {
		max-width: 201px;
		height: 557px;
		float: left;
		background-color: rgb(240, 240, 240);
		color: rgb(0, 0, 0);
		display: inline-block;
		vertical-align: top;
	}

	.topbar {
		width: 704px;
		float: left;
		margin-bottom: 0px;
		border-bottom: 1px solid rgb(200, 200, 200);
		background-color: rgb(240, 240, 240);

		.barHead {
			float: left;
			color: rgb(200, 200, 200);
			font-weight: bold;
			text-align: center;
			padding: 10px 0;
			min-width: 97px;
		}

		.stubDir {
			float: left;
		}

		.stub {
			float: left;
			padding: 2px 4px 2px 4px;
			vertical-align: middle;
			font-size: 85%;
			font-weight: bold;
			min-width: 70px;
			padding: 6px 9px;
			text-align: center;
		}

		.stub:hover {
			background-color: rgb(190, 190, 190);
			color: rgb(255, 255, 255);
			cursor: pointer;
		}
	}

	.rightFrame {
		float: left;
		width: 351px;
		max-width: 351px;
		max-height: 482px;
		background-color: rgb(235, 235, 235);
		color: rgb(0, 0, 0);
		border-right: 1px solid rgb(200, 200, 200);

		.leftblock {
			margin-left: 10px;
			min-width: 273px;
			float: left;
			vertical-align: top;
			max-height: 200px;
		}

		.teambox {
			margin-right: 0px;
			padding: 0;
			width: 312px;
			min-height: 352px;
			max-height: 352px;
			background-color: rgb(255, 255, 255);
			color: rgb(0, 0, 0);
			@include rounded;
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			vertical-align: top;

			.statsbox {
				float: left;
				background-color: rgb(255, 255, 255);
				min-width: 242px;
				min-height: 280px;
				border-left: 1px solid rgb(221, 221, 221);
				padding-right: 8px;
			}

			.colorBox {
				width: 38px;
				height: 452px;
				float: right;
				border-left: 1px solid rgb(200, 200, 200);

				.rightblock {
					height: 100%;
					width: 10px;
					float: right;
				}

				.box1 {
					height: 100%;
					width: 28px;
					float: right;
				}
			}
		}

	}



	.weekColumn {
		max-width: 100px;
		min-width: 100px;
		float: left;
		border-right: 1px solid rgb(200, 200, 200);
		text-align: center;
		background-color: inherit;

		.columnHead {
			float: left;
			color: rgb(200, 200, 200);
			font-weight: bold;
			min-width: 97px;
			padding: 22px 0;
		}

		.weekPicker {
			max-width: 100px;
			min-width: 100px;
			display: inline-block;
			padding: 4px 0;
			border-top: 1px solid rgb(230, 230, 230);
			text-align: center;
			.weekIndex {
				font-weight: bold;
				display: inline-block;
			}
		}

		.weekPicker:hover {
			background-color: rgb(190, 190, 190);
			color: rgb(255, 255, 255);
		}

		.picked {
			background-color: rgb(190, 190, 190);
			color: rgb(255, 255, 255);
		}

		
	}

	.kingkong {
		margin-left: 40px;
		margin-bottom: 40px;

		img {
			width: 200px;
		}
	}

	

	.score {
		font-size: 300%;
		font-weight: bold;
		margin-bottom: 16px;
		margin-top: 16px;
		float: left;
	}
}

.visualBox {
	float: left;
	display: inline-block;
	width: 344px;
	height: 448px;
	padding-right: 8px;
	margin-right: 0px;
	background-color: rgb(230, 230, 230);
}

.visualBox2 {
	float: left;
	width: 704px;
	height: 448px;
	margin-right: 0px;
	background-color: rgb(230, 230, 230);
}

.scoringList {
	padding: 8px;
	float: left;
	min-height: 199px;
	max-height: 199px;
	overflow: scroll;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
}

.scoreDetails {
	float: left;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	max-width: 356px;
	min-width: 356px;
	padding: 8px;
	min-height: 199px;
	max-height: 199px;
}

.playBar {
	float: left;
	clear: both;
	min-width: 300px;
	padding: 6px;
}

.playBar:hover {
	background-color: rgb(220, 220, 220);
	color: rgb(40, 40, 40);
	cursor: pointer;
}

.playDetail {
	margin-right: 8px;
	float: left;
}

.city {
	@include subheader;
}

.name {
	@include subheader;
	margin-bottom: 4px;
}

.record {
	margin-bottom: 16px;
}



.leftblock .nav .active .navlink {
	color: rgb(0, 0, 0);
}

.navlink:hover {
	cursor: pointer;
}

.statstype {
	@include statstub(left);
}

.statsdata {
	@include statstub(right);
	margin-bottom: 8px;
}

.statsOff {
	margin: 12px;
	width: 97%;
}

.statsDef {
	margin: 12px;
	width: 97%;
}

#myTab {
	margin-bottom: 0;
}

.leftblock .nav .navlink {
	font-size: 90%;
	font-weight: bold;
	color: rgb(200, 200, 200);
}

.footer {
	background-color: $BG2;
	display: inline-block;
	// @include rounded;
	// float: left;
	padding: 30px 0;
	padding-left: 100px;
	max-width: 705px;
	min-width: 705px;

	a {
		display: inline-block;
		vertical-align: middle;
		line-height: 30px;
		color: $HEADFOOT;
		img {
			height: 30px;
			margin-left: 10px;
			@include rounded;
			display: inline-block;
		}
	}

	div {
		color: rgb(0, 0, 0);
		margin-right: 15px;
		margin-left: 15px;
		display: inline-block;
		vertical-align: middle;
		line-height: 30px;
	}

}



.upperBar {
	padding-top: 4px;
	padding-left: 8px;
	margin-bottom: 12px;
}

.upperHead {
	width: 98%;
	font-weight: bold;
	font-size: 20px;
	float: left;
	padding-bottom: 4px;
	color: rgb(200, 200, 200);

}

.mobWeekPicker {
	float: left;
	width: 19%;
	text-align: center;
	border-left: 1px solid rgb(200, 200, 200);
	border-top: 1px solid rgb(200, 200, 200);
	border-bottom: 1px solid rgb(200, 200, 200);
	border-right: 1px solid rgb(200, 200, 200);
}

.mobWeekIdx {
	padding: 10px 0;
	font-weight: bold;
}

.lowerBar {
	padding-top: 4px;
	padding-left: 8px;
}

.lowerHead {
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	float: left;
	color: rgb(200, 200, 200);

}

.mobStubDir {
	width: 33%;
	text-align: center;
	float: left;
	padding: 4px 0;
}

.backBar {
	width: 96%;
	padding: 8px;
	font-weight: bold;
	background-color: rgb(190, 190, 190);
}

.fadeOut {
	display: none;
}

.flicker {
	-webkit-animation: fade 0.5s;
    -moz-animation: fade 0.5s;
    -ms-animation: fade 0.5s;
    -o-animation: fade 0.5s;
    animation: fade 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}


@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-moz-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-ms-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media screen and (max-width: 480px) {

	body {
		max-height: 568px;
		overflow:hidden;
	}

	.headLine {
		background-color: $BG1;
		padding: 20px 0;
		text-align: center;
		max-width: 805px;
		min-width: 805px;
		font-size: 30px;
		color: $HEADFOOT;
	}

	.contentWell {
		float: left;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		min-width: 1200px;
	}

	.footer {
		background-color: $BG2;
		display: inline-block;
		padding: 10px 0;
		padding-left: 0px;
		max-width: 805px;
		min-width: 805px;
		margin-top : 0px;

		a {
			display: inline-block;
			vertical-align: middle;
			line-height: 30px;
			color: $HEADFOOT;
			img {
				height: 30px;
				margin-left: 10px;
				@include rounded;
				display: inline-block;
			}
		}

		div {
			color: rgb(0, 0, 0);
			margin-right: 15px;
			margin-left: 15px;
			display: inline-block;
			vertical-align: middle;
			line-height: 30px;
		}

	}

	.lowerBox {
		float: left;
		padding: 0;
		width: 100%;
		min-height: 452px;
		max-height: 452px;
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);

		.colorBox {
			width: 9%;
			min-height: 452px;
			max-height: 452px;
			float: right;
			border-left: 1px solid rgb(200, 200, 200);

			.rightblock {
				min-height: 452px;
				max-height: 452px;
				width: 50%;
				float: right;
			}

			.box1 {
				min-height: 452px;
				max-height: 452px;
				width: 50%;
				float: right;
			}
		}
	}

	.leftblock {
		margin-left: 10px;
		min-width: 87%;
		min-height: 452px;
		max-height: 452px;
		float: left;

		.statsbox {
			float: left;
			background-color: rgb(255, 255, 255);
			min-width: 242px;
			min-height: 280px;
			border-left: 1px solid rgb(221, 221, 221);
			padding-right: 8px;
		}

	}

	.score {
		font-size: 300%;
		font-weight: bold;
		margin-bottom: 16px;
		margin-top: 16px;
		float: left;
	}

}

