
{% load staticfiles %}

<head>
	<title>IAIN MINGO</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 	<link media="screen and (max-width: 600px)" href="{% static 'css/stylesheets/print.css' %}" rel="stylesheet" type="text/css"></link>
 	<link media="screen" href="{% static 'css/stylesheets/screen.css' %}" rel="stylesheet" type="text/css"></link>
 	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css' rel='stylesheet' type='text/css'>
 </head>


 <body ng-app='ScaffoldsApp'>
 	{% verbatim %}
 	<div class='well'>
	 	<div class='container' ng-view=''>
	 		
		</div>
	</div>
	{% endverbatim %}
	

    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
    <script src="//code.angularjs.org/1.0.7/angular-cookies.js"></script>
    <script src="{% static 'scripts/app.js' %}"></script>
    <script src="{% static 'scripts/controllers/mainControllers.js' %}"></script>
    <script src="{% static 'scripts/services/mainServices.js' %}"></script>
    <script src="{% static 'scripts/directives/mainDirectives.js' %}"></script>
</body>



