<div class="kingkong">
  <h1>Demo</h1>
</div>
{% load staticfiles %}
{% verbatim %}
<div class='span2 sidebar'>
	<div class="gameList" ng-repeat='game in games'>
		<stub class='stub' ng-click='loadgame(game.CODE)'>{{ game.HOME + ' @ ' + game.AWAY }}</stub>
	</div>
</div>

<div class='resultsBox span10' ng-show='display'>
	<teambox isoloaded="loaded" class='teambox' ng-class='isoloaded.home_team.alias'>
		<div class='leftblock'>
			<div class='score'>{{ isoloaded.home_total_score }}</div>
			<div class='city'>{{ isoloaded.home_team.city }}</div>
			<div class='name'>{{ isoloaded.home_team.name }}</div>
			<div class='record'>{{ '(' + isoloaded.home_team.record + ')' }}</div>
			<div class='clearfix'></div>
			<ul class='nav nav-tabs' id='myTab'>
				<li ng-class='{active: team.stats == "off" }'>
					<a class='navlink' ng-click='team.switch("off")'>Off. stats</a>
				</li>
				<li ng-class='{active: team.stats == "def" }'>
					<a class='navlink' ng-click='team.switch("def")'>Def. stats</a>
				</li>
			</ul>
			<div class='tab-content statsbox'>
				<div class='tab-pane statsOff' ng-class='{active: team.stats == "off"}'>
					<div class='statstype'>Rushing yards:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.home_team_stats.rushing_yards }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Passing yards:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.home_team_stats.passing_net_yards }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Time of possession:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.home_team_stats.possession_minutes  + ':' + isoloaded.home_team_stats.possession_seconds }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>3rd down conversion:</div>
					<div class='statsdata'>{{ isoloaded.home_team_stats.third_down_made + '/' + isoloaded.home_team_stats.third_down_attempts }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Red zone conversion:</div>
					<div class='statsdata'>{{ isoloaded.home_team_stats.red_zone_made + '/' + isoloaded.home_team_stats.red_zone_attempts }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Net yards:</div>
					<div class='statsdata'>{{ isoloaded.home_team_stats.total_net_yards }}</div>
					<div class='clearfix'></div>
				</div>
				<div class='tab-pane statsDef' ng-class='{active: team.stats == "def"}'>
					<div class='statstype'>Interceptions:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.home_team_stats.interceptions }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Sacks:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.home_team_stats.defense_sacks }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Forced fumbles:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.home_team_stats.defense_forced_fumbles }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Sack yards:</div>
					<div class='statsdata'>{{ isoloaded.home_team_stats.defense_sack_yards }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Passes defended:</div>
					<div class='statsdata'>{{ isoloaded.home_team_stats.defense_passes_defensed }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Tackles:</div>
					<div class='statsdata'>{{ isoloaded.home_team_stats.defense_tackles }}</div>
					<div class='clearfix'></div>
				</div>
			</div>
		</div>
		<div class='rightblock'>
		</div>
	</teambox>
	<teambox isoloaded="loaded" class='teambox' ng-class='isoloaded.away_team.alias'>
		<div class='leftblock'>
			<div class='score'>{{ isoloaded.away_total_score }}</div>
			<div class='city'>{{ isoloaded.away_team.city }}</div>
			<div class='name'>{{ isoloaded.away_team.name }}</div>
			<div class='record'>{{ '(' + isoloaded.away_team.record + ')' }}</div>
			<div class='clearfix'></div>
			<ul class='nav nav-tabs' id='myTab'>
				<li ng-class='{active: team.stats == "off" }'>
					<a class='navlink' ng-click='team.switch("off")'>Off. stats</a>
				</li>
				<li ng-class='{active: team.stats == "def" }'>
					<a class='navlink' ng-click='team.switch("def")'>Def. stats</a>
				</li>
			</ul>
			<div class='tab-content statsbox'>
				<div class='tab-pane statsOff' ng-class='{active: team.stats == "off"}'>
					<div class='statstype'>Rushing yards:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.away_team_stats.rushing_yards }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Passing yards:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.away_team_stats.passing_net_yards }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Time of possession:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.away_team_stats.possession_minutes  + ':' + isoloaded.away_team_stats.possession_seconds }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>3rd down conversion:</div>
					<div class='statsdata'>{{ isoloaded.away_team_stats.third_down_made + '/' + isoloaded.away_team_stats.third_down_attempts }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Red zone conversion:</div>
					<div class='statsdata'>{{ isoloaded.away_team_stats.red_zone_made + '/' + isoloaded.away_team_stats.red_zone_attempts }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Net yards:</div>
					<div class='statsdata'>{{ isoloaded.away_team_stats.total_net_yards }}</div>
					<div class='clearfix'></div>
				</div>
				<div class='tab-pane statsDef' ng-class='{active: team.stats == "def"}'>
					<div class='statstype'>Interceptions:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.away_team_stats.interceptions }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Sacks:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.away_team_stats.defense_sacks }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Forced fumbles:</div>
					<div class='statsdata'>{{ ' ' + isoloaded.away_team_stats.defense_forced_fumbles }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Sack yards:</div>
					<div class='statsdata'>{{ isoloaded.away_team_stats.defense_sack_yards }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Passes defended:</div>
					<div class='statsdata'>{{ isoloaded.away_team_stats.defense_passes_defensed }}</div>
					<div class='clearfix'></div>
					<div class='statstype'>Tackles:</div>
					<div class='statsdata'>{{ isoloaded.away_team_stats.defense_tackles }}</div>
					<div class='clearfix'></div>
				</div>
			</div>
		</div>
		<div class='rightblock'>
		</div>
	</teambox>
	{% endverbatim %}
	<div class='clearfix'></div>
	<div class='footer'>
		<a href='http://apps.washingtonpost.com/sports/'>Powered by WaPo Sports API</a>
		<a href='http://apps.washingtonpost.com/sports/'>
			<img src='{% static "images/Washington-Post-logo-6-2-12.jpg" %}' class='wapoLogo'></img>
		</a>
		<a href='https://github.com/stacksBundles/whatsTheScore'>View the source code</a>
	</div>
</div>





