{% load staticfiles %}
{% verbatim %}
<div class='sidebar'>
	<div class='weekColumn'>
		<div class='columnHead'>WEEK</div>
		<div class='clearfix'></div>
		<weekpicker class='weekPicker' ng-repeat="number in weekList" ng-click='changeWeek(number)'>
			<div class='weekIndex'>
				&nbsp;{{number}}
			</div>
		</weekpicker>
	</div>
</div>
<div class='unit'>
	<div class='topbar'>
		<!-- <div class='barHead'>GAMES</div> -->
		<stub class='stubDir' ng-repeat='game in week'>
			<div ng-click='loadgame(game.CODE)' class='stub'>
				<div>{{ game.HOME + ' @ ' + game.AWAY }}</div>
			</div>
		</stub>
		<div class='clearfix'></div>
	</div>
	<div class='clearfix'></div>
	<teambox passed='game' ng-repeat='game in loaded' class='rightFrame' ng-show='state == 1'>
	</teambox>
	<timeline class='visualBox' ng-show='state == 2'></timeline>
	<barchart class='visualBox' ng-show='state == 2'></barchart>
	<div class='clearfix'></div>
	<div class='cycleBox'>
		<button ng-click='cycle()'>Show more stats&nbsp;&nbsp;<i class='fa fa-arrow-circle-right'></i>
		</button>
	</div>
</div>
<div class='clearfix'></div>

<!---->
{% endverbatim %}