/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ~~~~~~~~~~~~~~~ */
/*  LANDING PAGE   */
/* ~~~~~~~~~~~~~~~ */
/* line 12, ../sass/screen.scss */
#pseudoBody {
  font-family: 'Baskerville' Times Serif;
  background-color: #FDFCE8;
  width: 100%;
  height: 100%;
  font-size: 26px;
}

/* line 20, ../sass/screen.scss */
.titleBox {
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 100px;
}
/* line 25, ../sass/screen.scss */
.titleBox .myName {
  float: right;
  margin-bottom: 10px;
  clear: both;
}

/* line 32, ../sass/screen.scss */
.projectsBox {
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 100px;
}
/* line 38, ../sass/screen.scss */
.projectsBox .blocked {
  margin-bottom: 60px;
}
/* line 42, ../sass/screen.scss */
.projectsBox .dot {
  float: left;
  background-color: #F70000;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}
/* line 50, ../sass/screen.scss */
.projectsBox .listHead {
  float: left;
  margin-left: 10px;
}

/* line 56, ../sass/screen.scss */
.backBox {
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 100px;
  max-width: 300px;
  float: left;
}
/* line 63, ../sass/screen.scss */
.backBox .blocked {
  margin-bottom: 60px;
}
/* line 67, ../sass/screen.scss */
.backBox .dot {
  float: left;
  background-color: #F70000;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}
/* line 75, ../sass/screen.scss */
.backBox .listHead {
  float: left;
  margin-left: 10px;
}

/* line 81, ../sass/screen.scss */
.showcase {
  margin-left: 150px;
  margin-top: 80px;
  margin-right: 100px;
  float: left;
  max-width: 760px;
}
/* line 88, ../sass/screen.scss */
.showcase .floatingText {
  font-size: 18px;
  float: right;
  width: 600px;
}

/* END LANDING PAGE */
/* ~~~~~~~~~~~~~~~ */
/* WHATS THE SCORE */
/* ~~~~~~~~~~~~~~~ */
/* line 190, ../sass/screen.scss */
body .contentWell .rightFrame .highlight {
  color: red;
  font-weight: bold;
  font-size: 200%;
}

/* line 227, ../sass/screen.scss */
.Det {
  width: 100px;
  height: 100px;
  background-color: #00558c;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 229, ../sass/screen.scss */
.Det .rightblock {
  background-color: #8a8d8f;
}

/* line 234, ../sass/screen.scss */
.Bal {
  width: 100px;
  height: 100px;
  background-color: #24135f;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 236, ../sass/screen.scss */
.Bal .rightblock {
  background-color: #d0b240;
}

/* line 243, ../sass/screen.scss */
.Cin {
  width: 100px;
  height: 100px;
  background-color: #fc4c02;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 245, ../sass/screen.scss */
.Cin .rightblock {
  background-color: #1e1e1e;
}

/* line 252, ../sass/screen.scss */
.Pit {
  width: 100px;
  height: 100px;
  background-color: #1e1e1e;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 254, ../sass/screen.scss */
.Pit .rightblock {
  background-color: #ffb81c;
}

/* line 260, ../sass/screen.scss */
.GB {
  width: 100px;
  height: 100px;
  background-color: #183028;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 262, ../sass/screen.scss */
.GB .rightblock {
  background-color: #ffb81c;
}

/* line 269, ../sass/screen.scss */
.Dal {
  width: 100px;
  height: 100px;
  background-color: #0c2340;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 271, ../sass/screen.scss */
.Dal .rightblock {
  background-color: #858078;
}

/* line 278, ../sass/screen.scss */
.NO {
  width: 100px;
  height: 100px;
  background-color: #85714d;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 280, ../sass/screen.scss */
.NO .rightblock {
  background-color: #1e1e1e;
}

/* line 287, ../sass/screen.scss */
.StL {
  width: 100px;
  height: 100px;
  background-color: #0c2340;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 289, ../sass/screen.scss */
.StL .rightblock {
  background-color: #85714d;
}

/* line 296, ../sass/screen.scss */
.Ari {
  width: 100px;
  height: 100px;
  background-color: #9b2743;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 298, ../sass/screen.scss */
.Ari .rightblock {
  background-color: #1e1e1e;
}

/* line 305, ../sass/screen.scss */
.Ten {
  width: 100px;
  height: 100px;
  background-color: #418fde;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 307, ../sass/screen.scss */
.Ten .rightblock {
  background-color: #0c2340;
}

/* line 314, ../sass/screen.scss */
.KC {
  width: 100px;
  height: 100px;
  background-color: #a6192e;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 316, ../sass/screen.scss */
.KC .rightblock {
  background-color: #ffb81c;
}

/* line 323, ../sass/screen.scss */
.Oak {
  width: 100px;
  height: 100px;
  background-color: #7d858a;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 325, ../sass/screen.scss */
.Oak .rightblock {
  background-color: #1e1e1e;
}

/* line 332, ../sass/screen.scss */
.NYJ {
  width: 100px;
  height: 100px;
  background-color: #0c371d;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 334, ../sass/screen.scss */
.NYJ .rightblock {
  background-color: white;
}

/* line 341, ../sass/screen.scss */
.Car {
  width: 100px;
  height: 100px;
  background-color: #0085ca;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 342, ../sass/screen.scss */
.Car .rightblock {
  background-color: #101820;
}

/* line 350, ../sass/screen.scss */
.Hou {
  width: 100px;
  height: 100px;
  background-color: #081f2c;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 352, ../sass/screen.scss */
.Hou .rightblock {
  background-color: #a6192e;
}

/* line 359, ../sass/screen.scss */
.Ind {
  width: 100px;
  height: 100px;
  background-color: #003a70;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 361, ../sass/screen.scss */
.Ind .rightblock {
  background-color: white;
}

/* line 368, ../sass/screen.scss */
.SF {
  width: 100px;
  height: 100px;
  background-color: #bb2b4b;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 370, ../sass/screen.scss */
.SF .rightblock {
  background-color: #85714d;
}

/* line 377, ../sass/screen.scss */
.TB {
  width: 100px;
  height: 100px;
  background-color: #a6192e;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 379, ../sass/screen.scss */
.TB .rightblock {
  background-color: #6f6b66;
}

/* line 386, ../sass/screen.scss */
.NE {
  width: 100px;
  height: 100px;
  background-color: #0c2340;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 388, ../sass/screen.scss */
.NE .rightblock {
  background-color: #c8102e;
}

/* line 395, ../sass/screen.scss */
.Mia {
  width: 100px;
  height: 100px;
  background-color: #005f61;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 397, ../sass/screen.scss */
.Mia .rightblock {
  background-color: #ff642a;
}

/* line 404, ../sass/screen.scss */
.Chi {
  width: 100px;
  height: 100px;
  background-color: #081f2c;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 406, ../sass/screen.scss */
.Chi .rightblock {
  background-color: #dc4405;
}

/* line 413, ../sass/screen.scss */
.Cle {
  width: 100px;
  height: 100px;
  background-color: #fc4c02;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 415, ../sass/screen.scss */
.Cle .rightblock {
  background-color: #413322;
}

/* line 422, ../sass/screen.scss */
.Buf {
  width: 100px;
  height: 100px;
  background-color: #003087;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 424, ../sass/screen.scss */
.Buf .rightblock {
  background-color: #c8102e;
}

/* line 431, ../sass/screen.scss */
.Jac {
  width: 100px;
  height: 100px;
  background-color: #006272;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 433, ../sass/screen.scss */
.Jac .rightblock {
  background-color: #1e1e1e;
}

/* line 440, ../sass/screen.scss */
.Phi {
  width: 100px;
  height: 100px;
  background-color: #004851;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 442, ../sass/screen.scss */
.Phi .rightblock {
  background-color: #54585a;
}

/* line 449, ../sass/screen.scss */
.Min {
  width: 100px;
  height: 100px;
  background-color: #330072;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 451, ../sass/screen.scss */
.Min .rightblock {
  background-color: #ffb81c;
}

/* line 458, ../sass/screen.scss */
.Was {
  width: 100px;
  height: 100px;
  background-color: #782f40;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 460, ../sass/screen.scss */
.Was .rightblock {
  background-color: #ffb81c;
}

/* line 467, ../sass/screen.scss */
.Atl {
  width: 100px;
  height: 100px;
  background-color: #a6192e;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 469, ../sass/screen.scss */
.Atl .rightblock {
  background-color: #1e1e1e;
}

/* line 476, ../sass/screen.scss */
.Sea {
  width: 100px;
  height: 100px;
  background-color: #213d5a;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 478, ../sass/screen.scss */
.Sea .rightblock {
  background-color: #43b02a;
}

/* line 485, ../sass/screen.scss */
.NYG {
  width: 100px;
  height: 100px;
  background-color: #001e62;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 487, ../sass/screen.scss */
.NYG .rightblock {
  background-color: #a6192e;
}

/* line 494, ../sass/screen.scss */
.SD {
  width: 100px;
  height: 100px;
  background-color: #0072ce;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 496, ../sass/screen.scss */
.SD .rightblock {
  background-color: #ffb81c;
}

/* line 503, ../sass/screen.scss */
.Den {
  width: 100px;
  height: 100px;
  background-color: #fc4c02;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 505, ../sass/screen.scss */
.Den .rightblock {
  background-color: #0c2340;
}

/* line 512, ../sass/screen.scss */
.clearfix {
  max-width: 200px;
  clear: both;
}

/* line 517, ../sass/screen.scss */
.contentWell {
  float: left;
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  min-width: 805px;
  max-width: 805px;
}

/* line 532, ../sass/screen.scss */
.headLine {
  background-color: #3789b9;
  padding: 40px 110px;
  width: 100%;
  font-size: 60px;
  color: white;
}

/* line 540, ../sass/screen.scss */
.kingkong {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 200px;
}

/* line 547, ../sass/screen.scss */
.resultsBox {
  float: left;
  margin-left: 80px;
  color: white;
  min-width: 300px;
}
/* line 553, ../sass/screen.scss */
.resultsBox img {
  max-width: 200px;
}

@media screen and (min-width: 1000px) {
  /* line 560, ../sass/screen.scss */
  .resultsBox {
    float: left;
    margin-left: 20px;
    color: white;
    width: 100%;
  }
  /* line 566, ../sass/screen.scss */
  .resultsBox img {
    margin-top: 100px;
    margin-left: 237px;
    float: left;
    max-width: 200px;
    opacity: 0.3;
  }

  /* line 575, ../sass/screen.scss */
  .unit {
    float: left;
    display: inline-block;
    vertical-align: top;
  }
  /* line 580, ../sass/screen.scss */
  .unit .cycleBox {
    float: left;
    min-height: 44px;
    height: 44px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  /* line 587, ../sass/screen.scss */
  .unit .cycleBox button {
    min-height: 44px;
    font-size: 20px;
    height: 44px;
    border: 0;
    width: 704px;
  }

  /* line 599, ../sass/screen.scss */
  .sidebar {
    max-width: 201px;
    height: 557px;
    float: left;
    background-color: #f0f0f0;
    color: black;
    display: inline-block;
    vertical-align: top;
  }

  /* line 609, ../sass/screen.scss */
  .topbar {
    width: 704px;
    float: left;
    margin-bottom: 0px;
    border-bottom: 1px solid #c8c8c8;
    background-color: #f0f0f0;
  }
  /* line 616, ../sass/screen.scss */
  .topbar .barHead {
    float: left;
    color: #c8c8c8;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    min-width: 97px;
  }
  /* line 625, ../sass/screen.scss */
  .topbar .stubDir {
    float: left;
  }
  /* line 629, ../sass/screen.scss */
  .topbar .stub {
    float: left;
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
    font-size: 85%;
    font-weight: bold;
    min-width: 70px;
    padding: 6px 9px;
    text-align: center;
  }
  /* line 640, ../sass/screen.scss */
  .topbar .stub:hover {
    background-color: #bebebe;
    color: white;
    cursor: pointer;
  }

  /* line 647, ../sass/screen.scss */
  .rightFrame {
    float: left;
    width: 351px;
    max-width: 351px;
    max-height: 482px;
    background-color: #ebebeb;
    color: black;
    border-right: 1px solid #c8c8c8;
  }
  /* line 656, ../sass/screen.scss */
  .rightFrame .leftblock {
    margin-left: 10px;
    min-width: 273px;
    float: left;
    vertical-align: top;
    max-height: 200px;
  }
  /* line 664, ../sass/screen.scss */
  .rightFrame .teambox {
    margin-right: 0px;
    padding: 0;
    width: 312px;
    min-height: 352px;
    max-height: 352px;
    background-color: white;
    color: black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    vertical-align: top;
  }
  /* line 676, ../sass/screen.scss */
  .rightFrame .teambox .statsbox {
    float: left;
    background-color: white;
    min-width: 242px;
    min-height: 280px;
    border-left: 1px solid #dddddd;
    padding-right: 8px;
  }
  /* line 685, ../sass/screen.scss */
  .rightFrame .teambox .colorBox {
    width: 38px;
    height: 452px;
    float: right;
    border-left: 1px solid #c8c8c8;
  }
  /* line 691, ../sass/screen.scss */
  .rightFrame .teambox .colorBox .rightblock {
    height: 100%;
    width: 10px;
    float: right;
  }
  /* line 697, ../sass/screen.scss */
  .rightFrame .teambox .colorBox .box1 {
    height: 100%;
    width: 28px;
    float: right;
  }

  /* line 709, ../sass/screen.scss */
  .weekColumn {
    max-width: 100px;
    min-width: 100px;
    float: left;
    border-right: 1px solid #c8c8c8;
    text-align: center;
    background-color: inherit;
  }
  /* line 717, ../sass/screen.scss */
  .weekColumn .columnHead {
    float: left;
    color: #c8c8c8;
    font-weight: bold;
    min-width: 97px;
    padding: 22px 0;
  }
  /* line 725, ../sass/screen.scss */
  .weekColumn .weekPicker {
    max-width: 100px;
    min-width: 100px;
    display: inline-block;
    padding: 4px 0;
    border-top: 1px solid #e6e6e6;
    text-align: center;
  }
  /* line 732, ../sass/screen.scss */
  .weekColumn .weekPicker .weekIndex {
    font-weight: bold;
    display: inline-block;
  }
  /* line 738, ../sass/screen.scss */
  .weekColumn .weekPicker:hover {
    background-color: #bebebe;
    color: white;
  }
  /* line 743, ../sass/screen.scss */
  .weekColumn .picked {
    background-color: #bebebe;
    color: white;
  }

  /* line 751, ../sass/screen.scss */
  .kingkong {
    margin-left: 40px;
    margin-bottom: 40px;
  }
  /* line 755, ../sass/screen.scss */
  .kingkong img {
    width: 200px;
  }

  /* line 762, ../sass/screen.scss */
  .score {
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
    float: left;
  }
}
/* line 771, ../sass/screen.scss */
.visualBox {
  float: left;
  display: inline-block;
  width: 340px;
  height: 448px;
  padding-right: 8px;
  margin-right: 0px;
  background-color: #1F021E;
}

/* line 781, ../sass/screen.scss */
.visualBox2 {
  float: left;
  width: 700px;
  height: 448px;
  margin-right: 0px;
  background-color: #1F021E;
}

/* line 789, ../sass/screen.scss */
.scoringList {
  padding: 8px;
  float: left;
  min-height: 184px;
  max-height: 184px;
  overflow: scroll;
  background-color: white;
  border: 1px solid #dddddd;
}

/* line 799, ../sass/screen.scss */
.playBar {
  float: left;
  clear: both;
  min-width: 300px;
  padding: 6px;
}

/* line 806, ../sass/screen.scss */
.playBar:hover {
  background-color: gainsboro;
  color: #282828;
  cursor: pointer;
}

/* line 812, ../sass/screen.scss */
.playDetail {
  margin-right: 8px;
  float: left;
}

/* line 817, ../sass/screen.scss */
.city {
  font-weight: bold;
  font-size: 110%;
}

/* line 821, ../sass/screen.scss */
.name {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 4px;
}

/* line 826, ../sass/screen.scss */
.record {
  margin-bottom: 16px;
}

/* line 832, ../sass/screen.scss */
.leftblock .nav .active .navlink {
  color: black;
}

/* line 836, ../sass/screen.scss */
.navlink:hover {
  cursor: pointer;
}

/* line 840, ../sass/screen.scss */
.statstype {
  float: left;
  font-size: 90%;
  color: black;
}

/* line 844, ../sass/screen.scss */
.statsdata {
  float: right;
  font-size: 90%;
  color: black;
  margin-bottom: 8px;
}

/* line 849, ../sass/screen.scss */
.statsOff {
  margin: 12px;
  width: 97%;
}

/* line 854, ../sass/screen.scss */
.statsDef {
  margin: 12px;
  width: 97%;
}

/* line 859, ../sass/screen.scss */
#myTab {
  margin-bottom: 0;
}

/* line 863, ../sass/screen.scss */
.leftblock .nav .navlink {
  font-size: 90%;
  font-weight: bold;
  color: #c8c8c8;
}

/* line 869, ../sass/screen.scss */
.footer {
  background-color: #8c201e;
  display: inline-block;
  padding: 30px 0;
  padding-left: 190px;
  width: 100%;
}
/* line 878, ../sass/screen.scss */
.footer a {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  color: white;
}
/* line 883, ../sass/screen.scss */
.footer a img {
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
}
/* line 891, ../sass/screen.scss */
.footer div {
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

/* line 904, ../sass/screen.scss */
.upperBar {
  padding-top: 4px;
  padding-left: 8px;
  margin-bottom: 12px;
}

/* line 910, ../sass/screen.scss */
.upperHead {
  width: 98%;
  font-weight: bold;
  font-size: 20px;
  float: left;
  padding-bottom: 4px;
  color: #c8c8c8;
}

/* line 920, ../sass/screen.scss */
.mobWeekPicker {
  float: left;
  width: 19%;
  text-align: center;
  border-left: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

/* line 930, ../sass/screen.scss */
.mobWeekIdx {
  padding: 10px 0;
  font-weight: bold;
}

/* line 935, ../sass/screen.scss */
.lowerBar {
  padding-top: 4px;
  padding-left: 8px;
}

/* line 940, ../sass/screen.scss */
.lowerHead {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  float: left;
  color: #c8c8c8;
}

/* line 949, ../sass/screen.scss */
.mobStubDir {
  width: 33%;
  text-align: center;
  float: left;
  padding: 4px 0;
}

/* line 956, ../sass/screen.scss */
.backBar {
  width: 96%;
  padding: 8px;
  font-weight: bold;
  background-color: #bebebe;
}

/* line 963, ../sass/screen.scss */
.fadeOut {
  display: none;
}

/* line 967, ../sass/screen.scss */
.flicker {
  -webkit-animation: fade 0.5s;
  -moz-animation: fade 0.5s;
  -ms-animation: fade 0.5s;
  -o-animation: fade 0.5s;
  animation: fade 0.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@keyframes fade {
  /* line 982, ../sass/screen.scss */
  from {
    opacity: 1;
  }

  /* line 983, ../sass/screen.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade {
  /* line 987, ../sass/screen.scss */
  from {
    opacity: 1;
  }

  /* line 988, ../sass/screen.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  /* line 992, ../sass/screen.scss */
  from {
    opacity: 1;
  }

  /* line 993, ../sass/screen.scss */
  to {
    opacity: 0;
  }
}

@-ms-keyframes fade {
  /* line 997, ../sass/screen.scss */
  from {
    opacity: 1;
  }

  /* line 998, ../sass/screen.scss */
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  /* line 1003, ../sass/screen.scss */
  body {
    max-height: 568px;
    overflow: hidden;
  }

  /* line 1008, ../sass/screen.scss */
  .headLine {
    background-color: #3789b9;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: white;
  }

  /* line 1017, ../sass/screen.scss */
  .contentWell {
    float: left;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    min-width: 1200px;
  }

  /* line 1030, ../sass/screen.scss */
  .footer {
    background-color: #8c201e;
    display: inline-block;
    padding: 10px 0;
    padding-left: 0px;
    width: 100%;
    margin-top: 0px;
  }
  /* line 1038, ../sass/screen.scss */
  .footer a {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    color: white;
  }
  /* line 1043, ../sass/screen.scss */
  .footer a img {
    height: 30px;
    margin-left: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
  }
  /* line 1051, ../sass/screen.scss */
  .footer div {
    color: black;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
  }

  /* line 1062, ../sass/screen.scss */
  .lowerBox {
    float: left;
    padding: 0;
    width: 100%;
    min-height: 452px;
    max-height: 452px;
    background-color: white;
    color: black;
    box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
  }
  /* line 1072, ../sass/screen.scss */
  .lowerBox .colorBox {
    width: 9%;
    min-height: 452px;
    max-height: 452px;
    float: right;
    border-left: 1px solid #c8c8c8;
  }
  /* line 1079, ../sass/screen.scss */
  .lowerBox .colorBox .rightblock {
    min-height: 452px;
    max-height: 452px;
    width: 50%;
    float: right;
  }
  /* line 1086, ../sass/screen.scss */
  .lowerBox .colorBox .box1 {
    min-height: 452px;
    max-height: 452px;
    width: 50%;
    float: right;
  }

  /* line 1095, ../sass/screen.scss */
  .leftblock {
    margin-left: 10px;
    min-width: 87%;
    min-height: 452px;
    max-height: 452px;
    float: left;
  }
  /* line 1102, ../sass/screen.scss */
  .leftblock .statsbox {
    float: left;
    background-color: white;
    min-width: 242px;
    min-height: 280px;
    border-left: 1px solid #dddddd;
    padding-right: 8px;
  }

  /* line 1113, ../sass/screen.scss */
  .score {
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
    float: left;
  }
}
