/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 108, ../sass/screen.scss */
.Det {
  width: 100px;
  height: 100px;
  background-color: #00558c;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 110, ../sass/screen.scss */
.Det .rightblock {
  background-color: #8a8d8f;
}

/* line 115, ../sass/screen.scss */
.Bal {
  width: 100px;
  height: 100px;
  background-color: #24135f;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 117, ../sass/screen.scss */
.Bal .rightblock {
  background-color: #d0b240;
}

/* line 124, ../sass/screen.scss */
.Cin {
  width: 100px;
  height: 100px;
  background-color: #fc4c02;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 126, ../sass/screen.scss */
.Cin .rightblock {
  background-color: #1e1e1e;
}

/* line 133, ../sass/screen.scss */
.Pit {
  width: 100px;
  height: 100px;
  background-color: #1e1e1e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 135, ../sass/screen.scss */
.Pit .rightblock {
  background-color: #ffb81c;
}

/* line 141, ../sass/screen.scss */
.GB {
  width: 100px;
  height: 100px;
  background-color: #183028;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 143, ../sass/screen.scss */
.GB .rightblock {
  background-color: #ffb81c;
}

/* line 150, ../sass/screen.scss */
.Dal {
  width: 100px;
  height: 100px;
  background-color: #0c2340;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 152, ../sass/screen.scss */
.Dal .rightblock {
  background-color: #858078;
}

/* line 159, ../sass/screen.scss */
.NO {
  width: 100px;
  height: 100px;
  background-color: #85714d;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 161, ../sass/screen.scss */
.NO .rightblock {
  background-color: #1e1e1e;
}

/* line 168, ../sass/screen.scss */
.StL {
  width: 100px;
  height: 100px;
  background-color: #0c2340;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 170, ../sass/screen.scss */
.StL .rightblock {
  background-color: #85714d;
}

/* line 177, ../sass/screen.scss */
.Ari {
  width: 100px;
  height: 100px;
  background-color: #9b2743;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 179, ../sass/screen.scss */
.Ari .rightblock {
  background-color: #1e1e1e;
}

/* line 186, ../sass/screen.scss */
.Ten {
  width: 100px;
  height: 100px;
  background-color: #418fde;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 188, ../sass/screen.scss */
.Ten .rightblock {
  background-color: #0c2340;
}

/* line 195, ../sass/screen.scss */
.KC {
  width: 100px;
  height: 100px;
  background-color: #a6192e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 197, ../sass/screen.scss */
.KC .rightblock {
  background-color: #ffb81c;
}

/* line 204, ../sass/screen.scss */
.Oak {
  width: 100px;
  height: 100px;
  background-color: #7d858a;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 206, ../sass/screen.scss */
.Oak .rightblock {
  background-color: #1e1e1e;
}

/* line 213, ../sass/screen.scss */
.NYJ {
  width: 100px;
  height: 100px;
  background-color: #0c371d;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 215, ../sass/screen.scss */
.NYJ .rightblock {
  background-color: white;
}

/* line 222, ../sass/screen.scss */
.Car {
  width: 100px;
  height: 100px;
  background-color: #0085ca;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 223, ../sass/screen.scss */
.Car .rightblock {
  background-color: #101820;
}

/* line 231, ../sass/screen.scss */
.Hou {
  width: 100px;
  height: 100px;
  background-color: #081f2c;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 233, ../sass/screen.scss */
.Hou .rightblock {
  background-color: #a6192e;
}

/* line 240, ../sass/screen.scss */
.Ind {
  width: 100px;
  height: 100px;
  background-color: #003a70;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 242, ../sass/screen.scss */
.Ind .rightblock {
  background-color: white;
}

/* line 249, ../sass/screen.scss */
.SF {
  width: 100px;
  height: 100px;
  background-color: #bb2b4b;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 251, ../sass/screen.scss */
.SF .rightblock {
  background-color: #85714d;
}

/* line 258, ../sass/screen.scss */
.TB {
  width: 100px;
  height: 100px;
  background-color: #a6192e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 260, ../sass/screen.scss */
.TB .rightblock {
  background-color: #6f6b66;
}

/* line 267, ../sass/screen.scss */
.NE {
  width: 100px;
  height: 100px;
  background-color: #0c2340;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 269, ../sass/screen.scss */
.NE .rightblock {
  background-color: #c8102e;
}

/* line 276, ../sass/screen.scss */
.Mia {
  width: 100px;
  height: 100px;
  background-color: #005f61;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 278, ../sass/screen.scss */
.Mia .rightblock {
  background-color: #ff642a;
}

/* line 285, ../sass/screen.scss */
.Chi {
  width: 100px;
  height: 100px;
  background-color: #081f2c;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 287, ../sass/screen.scss */
.Chi .rightblock {
  background-color: #dc4405;
}

/* line 294, ../sass/screen.scss */
.Cle {
  width: 100px;
  height: 100px;
  background-color: #fc4c02;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 296, ../sass/screen.scss */
.Cle .rightblock {
  background-color: #413322;
}

/* line 303, ../sass/screen.scss */
.Buf {
  width: 100px;
  height: 100px;
  background-color: #003087;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 305, ../sass/screen.scss */
.Buf .rightblock {
  background-color: #c8102e;
}

/* line 312, ../sass/screen.scss */
.Jac {
  width: 100px;
  height: 100px;
  background-color: #006272;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 314, ../sass/screen.scss */
.Jac .rightblock {
  background-color: #1e1e1e;
}

/* line 321, ../sass/screen.scss */
.Phi {
  width: 100px;
  height: 100px;
  background-color: #004851;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 323, ../sass/screen.scss */
.Phi .rightblock {
  background-color: #54585a;
}

/* line 330, ../sass/screen.scss */
.Min {
  width: 100px;
  height: 100px;
  background-color: #330072;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 332, ../sass/screen.scss */
.Min .rightblock {
  background-color: #ffb81c;
}

/* line 339, ../sass/screen.scss */
.Was {
  width: 100px;
  height: 100px;
  background-color: #782f40;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 341, ../sass/screen.scss */
.Was .rightblock {
  background-color: #ffb81c;
}

/* line 348, ../sass/screen.scss */
.Atl {
  width: 100px;
  height: 100px;
  background-color: #a6192e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 350, ../sass/screen.scss */
.Atl .rightblock {
  background-color: #1e1e1e;
}

/* line 357, ../sass/screen.scss */
.Sea {
  width: 100px;
  height: 100px;
  background-color: #213d5a;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 359, ../sass/screen.scss */
.Sea .rightblock {
  background-color: #43b02a;
}

/* line 366, ../sass/screen.scss */
.NYG {
  width: 100px;
  height: 100px;
  background-color: #001e62;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 368, ../sass/screen.scss */
.NYG .rightblock {
  background-color: #a6192e;
}

/* line 375, ../sass/screen.scss */
.SD {
  width: 100px;
  height: 100px;
  background-color: #0072ce;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 377, ../sass/screen.scss */
.SD .rightblock {
  background-color: #ffb81c;
}

/* line 384, ../sass/screen.scss */
.Den {
  width: 100px;
  height: 100px;
  background-color: #fc4c02;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  float: left;
  transition: 2s;
  -webkit-transition: 2s;
  opacity: 1;
}
/* line 386, ../sass/screen.scss */
.Den .rightblock {
  background-color: #0c2340;
}

/* line 393, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/* line 397, ../sass/screen.scss */
.contentWell {
  float: left;
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 410, ../sass/screen.scss */
.headLine {
  background-color: #646464;
  padding: 40px 110px;
  width: 100%;
  font-size: 60px;
  color: white;
}

/* line 418, ../sass/screen.scss */
.kingkong {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 200px;
}

/* line 425, ../sass/screen.scss */
.resultsBox {
  float: left;
  margin-left: 80px;
  color: white;
  min-width: 300px;
}
/* line 431, ../sass/screen.scss */
.resultsBox img {
  max-width: 200px;
}

@media screen and (min-width: 1000px) {
  /* line 438, ../sass/screen.scss */
  .resultsBox {
    float: left;
    margin-left: 20px;
    color: white;
    width: 100%;
  }
  /* line 444, ../sass/screen.scss */
  .resultsBox img {
    margin-top: 100px;
    margin-left: 237px;
    float: left;
    max-width: 200px;
    opacity: 0.3;
  }

  /* line 453, ../sass/screen.scss */
  .teambox {
    float: left;
    margin-right: 20px;
    padding: 0;
    width: 322px;
    min-height: 452px;
    max-height: 452px;
    background-color: white;
    color: black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  /* line 465, ../sass/screen.scss */
  .teambox .colorBox {
    width: 38px;
    height: 452px;
    float: right;
    border-left: 1px solid #c8c8c8;
  }
  /* line 471, ../sass/screen.scss */
  .teambox .colorBox .rightblock {
    height: 100%;
    width: 10px;
    float: right;
  }
  /* line 477, ../sass/screen.scss */
  .teambox .colorBox .box1 {
    height: 100%;
    width: 28px;
    float: right;
  }

  /* line 485, ../sass/screen.scss */
  .sidebar {
    max-width: 201px;
    height: 557px;
    float: left;
    background-color: #f0f0f0;
    color: black;
  }

  /* line 493, ../sass/screen.scss */
  .rightFrame {
    width: 704px;
    height: 557px;
    float: left;
    background-color: #ebebeb;
    color: black;
    border-right: 1px solid #c8c8c8;
  }
  /* line 501, ../sass/screen.scss */
  .rightFrame .topbar {
    width: 704px;
    float: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
    background-color: #f0f0f0;
  }
  /* line 508, ../sass/screen.scss */
  .rightFrame .topbar .barHead {
    float: left;
    color: #c8c8c8;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    min-width: 97px;
  }
  /* line 517, ../sass/screen.scss */
  .rightFrame .topbar .stubDir {
    float: left;
  }
  /* line 521, ../sass/screen.scss */
  .rightFrame .topbar .stub {
    float: left;
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
    font-size: 85%;
    font-weight: bold;
    min-width: 70px;
    padding: 6px 9px;
    text-align: center;
  }
  /* line 532, ../sass/screen.scss */
  .rightFrame .topbar .stub:hover {
    background-color: #bebebe;
    color: white;
    cursor: pointer;
  }

  /* line 542, ../sass/screen.scss */
  .weekColumn {
    max-width: 100px;
    min-width: 100px;
    float: left;
    border-right: 1px solid #c8c8c8;
    text-align: center;
    background-color: inherit;
  }
  /* line 550, ../sass/screen.scss */
  .weekColumn .columnHead {
    float: left;
    color: #c8c8c8;
    font-weight: bold;
    min-width: 97px;
    padding: 22px 0;
  }
  /* line 558, ../sass/screen.scss */
  .weekColumn .weekPicker {
    max-width: 100px;
    min-width: 100px;
    display: inline-block;
    padding: 4px 0;
    border-top: 1px solid #e6e6e6;
    text-align: center;
  }
  /* line 565, ../sass/screen.scss */
  .weekColumn .weekPicker .weekIndex {
    font-weight: bold;
    display: inline-block;
  }
  /* line 571, ../sass/screen.scss */
  .weekColumn .weekPicker:hover {
    background-color: #bebebe;
    color: white;
  }

  /* line 579, ../sass/screen.scss */
  .leftblock {
    margin-left: 10px;
    min-width: 271px;
    float: left;
  }
  /* line 584, ../sass/screen.scss */
  .leftblock .statsbox {
    float: left;
    background-color: white;
    min-width: 242px;
    min-height: 280px;
    border-left: 1px solid #dddddd;
    padding-right: 8px;
  }

  /* line 595, ../sass/screen.scss */
  .kingkong {
    margin-left: 40px;
    margin-bottom: 40px;
  }
  /* line 599, ../sass/screen.scss */
  .kingkong img {
    width: 200px;
  }

  /* line 606, ../sass/screen.scss */
  .score {
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
    float: left;
  }
}
/* line 615, ../sass/screen.scss */
.city {
  font-weight: bold;
  font-size: 110%;
}

/* line 619, ../sass/screen.scss */
.name {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 4px;
}

/* line 624, ../sass/screen.scss */
.record {
  margin-bottom: 16px;
}

/* line 630, ../sass/screen.scss */
.leftblock .nav .active .navlink {
  color: black;
}

/* line 634, ../sass/screen.scss */
.navlink:hover {
  cursor: pointer;
}

/* line 638, ../sass/screen.scss */
.statstype {
  float: left;
  font-size: 90%;
  color: black;
}

/* line 642, ../sass/screen.scss */
.statsdata {
  float: right;
  font-size: 90%;
  color: black;
  margin-bottom: 8px;
}

/* line 647, ../sass/screen.scss */
.statsOff {
  margin: 12px;
  width: 97%;
}

/* line 652, ../sass/screen.scss */
.statsDef {
  margin: 12px;
  width: 97%;
}

/* line 657, ../sass/screen.scss */
#myTab {
  margin-bottom: 0;
}

/* line 661, ../sass/screen.scss */
.leftblock .nav .navlink {
  font-size: 90%;
  font-weight: bold;
  color: #c8c8c8;
}

/* line 667, ../sass/screen.scss */
.footer {
  background-color: #646464;
  display: inline-block;
  padding: 30px 0;
  padding-left: 190px;
  width: 100%;
}
/* line 676, ../sass/screen.scss */
.footer a {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  color: white;
}
/* line 681, ../sass/screen.scss */
.footer a img {
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
}
/* line 689, ../sass/screen.scss */
.footer div {
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

/* line 701, ../sass/screen.scss */
.fadeOut {
  opacity: 0;
}
