body {
	background: rgb(245, 245, 255);
}

.container {
	width: 940px;
	margin-left: 0px;
}

.navBar {
	background: #00D2FF;
	width: 940px;
	margin-left: 0px;
	height: 20px;
	padding-left: 20px;
}

.navBarLinks {
	color: rgb(0, 0 , 0);
	float: left;
	display: inline-block;
	margin-right: 410px;
	margin-top: 1px;
}

.navBarLinksBeta {
	color: rgb(0, 0 , 0);
	float: left;
	display: inline-block;
	margin-right: 0px;
	margin-top: 1px;
}

#cantorTree {
	position: fixed;
	top: 44px;
	left: 10px;
}

#recipeBox {
	position: fixed;
	top: 44px;
	left: 390px;
}

#recipeBoxes {
	width: 200px;
}

#cantor {
	width: 200px;
}

.videoBox {
	z-index: 1;
	position: fixed;
	top: 200px;
	left: 250px;
	height: 450px;
	width: 600px;
	background: rgb(200, 200, 200);
}

.imageBox {
	z-index: 1;
	position: fixed;
	top: 170px;
	left: 250px;
	height: 450px;
	width: 600px;
	margin-bottom: 40px;
}

.fadeOver {
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgb(0, 0 , 0);
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.content {
	z-index: -2;
}

.box1 {
	float: left;
	display: inline-block;
	height: 550px;
	margin-left: 40px;
	margin-top: 40px;
	max-width: 550px;
}

#image1 {
	height: 500px;
	float: left;
	display: inline-block;
}

.testImageFormat {
	height: 500px;
}

.box2 {
	float: left;
	display: inline-block;
	height: 550px;
	margin-left: 40px;
	margin-top: 40px;
	max-width: 550px;
	width: 550px;
}

.vote1 {
	background-color: rgb(0, 100, 255);
	float:left;
	display:inline-block;
	padding: 4px 4px 4px 4px;
	color: rgb(255, 255, 255);
}

#image2 {
	height: 500px;
	float: left;
	display: inline-block;
}

.vote2 {
	background-color: rgb(0, 100, 255);
	float:left;
	display:inline-block;
	padding: 4px 4px 4px 4px;
	color: rgb(255, 255, 255);
}

.startButton {
	background-color: rgb(0, 100, 255);
	padding: 4px 4px 4px 4px;
	color: rgb(255, 255, 255);
}

.tally {
	color: rgb(255, 255, 255);
	font-size: 140%;
}

.fieldLabel {
	color: rgb(255, 255, 255);
}

.put {
	background-color: rgb(255, 255, 255);
	padding: 4px 4px 4px 4px;
	margin-top: 20px;
	max-width: 40px;
}

.recipeTitle {
	color: rgb(255, 255, 255);
	margin-top: 200px;
	margin-left: 10px;
	margin-right: 20px;
}

.recipeBody {
	color: rgb(255, 255, 255);
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	min-width: 920px;
}

.recipeTags {
	color: rgb(255, 255, 255);
}

.ingredientList {
	color: rgb(255, 255, 255);
}

#recipeColumns {
	width: 920px;
}

.column1 {
	text-align: justify;
	float: left;
	display: inline-block;
	width: 438px;
	margin-left: 8px;
	margin-right: 10px;
}

.column2 {
	text-align: justify;
	float: left;
	display: inline-block;
	width: 438px;
	margin-left: 10px;
	margin-right: 8px;
}

.videoNumber {
	background-color: rgb(0, 210, 255);
	min-width: 200px;
	padding: 0px 4px 0px 4px;
	float: left;
	display: inline-block;
	margin-top: 10px;
}

.imageNumber {
	background-color: rgb(0, 210, 255);
	min-width: 200px;
	padding: 0px 4px 0px 4px;
	float: left;
	display: inline-block;
	margin-top: 10px;
}

.recipeNumber {
	background-color: rgb(0, 210, 255);
	min-width: 200px;
	padding: 0px 4px 0px 4px;
	float: left;
	display: inline-block;
	margin-top: 10px;
}

.clearFix {
	clear: both;
	height: 1px;
}

#imageSize {
	max-width: 753px;
	margin-bottom: 50px;
}

.span10 {
	color: rgb(255, 255, 255);
}


.articles {
    width: 600px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.articleStub {
    width: 700px;
    padding: 0px 8px 0px 8px;
    margin-bottom: 0px;
    float: left;
    display: inline-block;
}

.clearfix {
    clear: both;
    height: 1px;
}

.comments {
    margin-top: 8px;
}

.button {
	float: right;
    color: rgb(255, 255, 255);
    background-color: rgb(190, 190, 240);
    padding: 4px 4px 4px 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 68px;
    margin: 0px 0px 0px 10px;
    font-size: 80%;
}


.question > .disabled {
    background-color: rgb(230, 230, 250);
    color: rgb(0,0,0);
}

.create > .disabled {
    background-color: rgb(250, 230, 250);
    color: rgb(0,0,0);
}

.articleTitle a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 100%;
	
}

.articleTitle {
	min-height: 60px;
}

.author {
	float: left;
	font-size: 80%;
}

.date {
	float: left;
	font-size: 80%;
}

.community {
	float: left;
	font-size: 80%;
}


.more {
    display: none;
}

.less {
    display: inline-block;
}

.commentBody {
    margin-left: 4px;
    margin-bottom:4px;
    display: inline-block;
    width: 100%;
    font-size: 80%;
}

.commentAuthor {
    font-weight: 500;
    margin-left : 10px;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
    font-size: 80%;
}

.commentBox {
    background-color: rgb(190, 190, 230);
    min-width: 320px;
    margin-left: 10px;
    margin-bottom: 12px;
    padding: 4px 0 0 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.create .comments .commentBox {
    background-color: rgb(220, 200, 220);
    min-width: 320px;
    margin-left: 10px;
    margin-bottom: 12px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.question {
    background-color: rgb(230, 230, 255);
    padding: 10px 10px 10px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.event {
    background-color: rgb(230, 230, 255);
    padding: 10px 10px 10px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tip {
	background-color: rgb(230, 230, 255);
    padding: 10px 10px 10px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.friend {
	background-color: rgb(210, 210, 255);
    padding: 10px 10px 10px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.filterLink {
    float: left;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

#subHead {
    width: 300px;
}

.commentForm .input {
    float: left;
    display: inline-block;
    margin-bottom: 8px;
}

#feed {
	color: rgb(0,0,0);
}

.score {
	font-size: 90%;
	margin-top: 2px;
	padding: 4px 4px 4px 4px;
	border: 1px solid;
	border-color: rgb(120, 80, 120);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.following {
	font-size: 90%;
	margin-top: 2px;
	padding: 4px 4px 4px 4px;
	border: 1px solid;
	border-color: rgb(120, 80, 120);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.leftBlock {
	float: left;
	display: inline-block;
	max-width: 50px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: rgb(120, 80, 120);
}

.typeIcon {
	padding: 0 0 0 8px;
	font-size: 90%;
}

.typeIcon:hover {
	color: rgb(0, 0, 0);
}

.rightBlock {
	margin-left: 10px;
	float: left;
	display: inline-block;
	width: 460px;
}

.commentBlock {
	margin-left: 50px;
}

.separatingLine {
	background-color: rgb(160, 160, 160);
	height: 1px;
	width: 100%;
	float: left;
	display: inline-block;
}

.following {
	padding-left: 9px;
}

.imageBlock {
	margin-left: 10px;
	margin-top: 4px;
	width: 110px;
	height: 72px;
	background-color: rgb(20, 20, 20);
	float: left;
	display: inline-block;
}

.filterFriends {
	width: 25%;
	float: left;
}

.iconCaptionFriend {
	margin-left: 4px;

}

.iconCaptionQuestion {
	margin-left: 4px;

}

.iconCaptionEvent {
	margin-left: 4px;

}

.iconCaptionTip {
	margin-left: 4px;

}

.filterEvents {
	width: 25%;
	float: left;
}

.filterQuestion {
	width: 25%;
	float: left;
}

.filterTips {
	width: 25%;
	float: left;
}

.body {
	font-size: 80%;
}

.replyInput {
	margin-left: 8px;
	width: 324px;
	max-width: 324px;
	height: 50px;
	max-height: 50px;
}

.replySubmit {
	float: left;
	display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(190, 190, 240);
    padding: 4px 4px 4px 4px;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-right-color: rgb(192, 192, 192);
    border-bottom-color: rgb(192, 192, 192);
    border-top-color: rgb(190, 190, 240);
    border-left-color: rgb(190, 190, 240);
    width: 68px;
    margin: 4px 0px 0px 10px;
    font-size: 80%;
}

.bullet {
	float: left;
	margin-left: 6px;
	margin-right: 6px;
}

.controlPanel {
	margin: 8px 0 8px 0;
	float: left;
}

 .articles .dead {
	float: left;
    color: rgb(235, 235, 235);
    background-color: rgb(190, 190, 240);
    padding: 4px 4px 4px 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 64px;
    margin: 0px 0px 0px 10px;
    font-size: 80%;
}


.clearButton {
	float: left;
    color: rgb(255, 255, 255);
    background-color: rgb(130, 130, 200);
    padding: 4px 4px 4px 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 68px;
    margin: 0px 0px 0px 10px;
    font-size: 80%;
}

.hide {
	display: none;
	font-weight: 700;
	color: rgb(255, 0, 0);
}

.thumbsUp {
	float: right;
}

.thumbsDown {
	float: right;
}

.
